body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

.progress {
    height: 20px;
    width: 200px;
    background-color: #497be8;
    border-radius: 10px;
}

.progress-bar {
    height: 20px;
    width: 200px;
    background-color:#dbdbdb;
    border-radius: 10px;
}

.button {
    padding: 8px;
}