body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

nav ul {
    background-color: #497be8;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
    border-right: 1px solid #bbb;
}

nav ul li a {
    color: white;
    padding: 8px;
    display: block;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #3060c7;
}

button {
    width: 200px;
    padding: 8px;
    border-radius: 16px;
    margin-bottom: 8px;
    color: white;
    background-color: #497be8;
}

button:hover {
    background-color: #3060c7;
}

main {
    padding: 20px;
    margin: 20px;
    background-color: white;
    text-align: left;
    display: flex;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #f6f6f6;
    border-radius: 24px;
    width: 100%;
}

aside {
    padding: 20px;
    margin: 20px;
    text-align: left;
}

.progress {
    height: 20px;
    width: 200px;
    background-color: #497be8;
    border-radius: 10px;
}

.progress-bar {
    height: 20px;
    width: 200px;
    background-color:#dbdbdb;
    border-radius: 10px;
}

/* Used for active state in the navBar */
.active {
    background-color: #5e91ff;
    color: white;
    text-decoration: underline;
}